<div class="container content">
    <div class="heading">
        <h2>Our <strong>Great Team</strong></h2>
        <p>to develop the TripTrack social network</p>
    </div><!-- //end heading -->

	<div class="row">
        <div class="col-sm-6">
            <div class="team-members">
                <div class="team-avatar">
                    <%= image_tag "massi.PNG" %>
                </div>
                <div class="team-desc">
                    <h4>Massimiliano Cestra</h4>
                    <span>Software Engineer</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="team-members">
                <div class="team-avatar">
                     <%= image_tag "giulia.PNG" %>
                </div>
                <div class="team-desc">
                    <h4>Giulia Giugno</h4>
                    <span>Software Engineer</span>
                </div>
            </div>
        </div>
        
</div>

<br>
<br>
<center>
<strong>@copyright <a href="http://j.mp/metronictheme" target="_blank">TripTrack</a></strong>
</center>
<br>
<br>