<!DOCTYPE HTML>
<HTML>
<HEAD>
<STYLE>
TABLE {
    FONT-FAMILY: ARIAL, SANS-SERIF;
    BORDER-COLLAPSE: COLLAPSE;
    WIDTH: 75%;
}

TD, TH {
    BORDER: 1PX SOLID #DDDDDD;
    TEXT-ALIGN: CENTER;
    PADDING: 10PX;
}


</STYLE>
</HEAD>
<BODY>

<TABLE>
  <TR>
    <TH>ENTITY</TH>
    <TH>DESCRIPTION</TH>
    <TH>ATTRIBUTES</TH>
    <TH>IDENTIFIERS</TH>
  </TR>
  <TR>
    <TD>USER</TD>
    <TD>APPLICATION'S CLIENTS</TD>
    <TD>ID <BR> NAME <BR> EMAIL <BR>CREATED_AT <BR> UPDATED_AT <BR> PASSWORD_DIGEST
      <BR> REMEMBER_DIGEST<BR> ACTIVATION_DIGEST<BR> ACTIVATED <BR> ACTIVATED_AT
      <BR> RESET_DIGEST <BR> RESET_SENT_AT <BR> PROVIDER <BR> UID
      <BR> FACEBOOK_DIGEST <BR>
    </TD>
    <TD>ID(PK)<BR>EMAIL</TD>
  </TR>
  <TR>
    <TD>ADMIN</TD>
    <TD>APPLICATION'S ADMIN. IS-A USER</TD>
    <TD>ADMIN</TD>
    <TD>ID</TD>
  </TR>
  <TR>
    <TD>SUPERUSER</TD>
    <TD>SPECIAL USER WITH MORE SKILL.
      AN USER BECAME SUPER USER AFTER THAT HE GOT
      ALMOST 50 FRIENDS.
       IS-A USER.
    </TD>
    <TD>SUPERUSER</TD>
    <TD>ID</TD>
  </TR>
  <TR>
    <TD>POST</TD>
    <TD>APPLICATION'S USERS INSERT THE POSTS</TD>
    <TD>ID <BR> CONTENT   <BR> PICTURE  </TD>
    <TD>ID</TD>
  </TR>
  <TR>
    <TD>PLACE</TD>
    <TD> PLACES VISITED BY USERS</TD>
    <TD>ID <BR> LATITUDINE  <BR> LONGITUDINE  <BR> NAME </TD>
    <TD>ID(PK)<BR>[LATITUDINE,  LONGITUDINE]</TD>
  </TR>
  <TR>
    <TD>PHOTO</TD>
    <TD> USERS' PHOTOS GOT THROUGHT FACEBOOK </TD>
    <TD>ID <BR>PICTURE</TD>
    <TD>{ID}</TD>
  </TR>
</TABLE>








</BODY>
</HTML>
