<!DOCTYPE HTML>
<HTML>
<HEAD>
<STYLE>
TABLE {
    FONT-FAMILY: ARIAL, SANS-SERIF;
    BORDER-COLLAPSE: COLLAPSE;
    WIDTH: 75%;
}

TD, TH {
    BORDER: 1PX SOLID #DDDDDD;
    TEXT-ALIGN: CENTER;
    PADDING: 10PX;
}

H1 {
  TEXT-ALIGN: CENTER;
}


</STYLE>
</HEAD>
<BODY>

<TABLE>
  <TR>
    <TH>RELATIONSHIP</TH>
    <TH>DESCRIPTION</TH>
    <TH>COMPONENTS</TH>
    <TH>ATTRIBUTES</TH>
    <TH>IDENTIFIERS</TH>
  </TR>
  <TR>
    <TD>FRIENDSHIP</TD>
    <TD>FRIENDSHIP WITH ANOTHER USER</TD>
    <TD> [USER,USER]</TD>
    <TD>TRANSITION</TD>
    <TD>IMPLICIT</TD>
  </TR>
  <TR>
    <TD>FOLLOW</TD>
    <TD>A USER FOLLOW A SUPER USER</TD>
    <TD>[USER,SUPERUSER]</TD>
    <TD></TD>
    <TD>IMPLICIT</TD>
  </TR>
  <TR>
    <TD>LIKE</TD>
    <TD>A USER CAN LIKE A POST</TD>
    <TD>[USER,POST]</TD>
    <TD></TD>
    <TD>IMPLICIT</TD>
  </TR>
  <TR>
    <TD>CREATE</TD>
    <TD> A USER CAN CREATE A POST  </TD>
    <TD>[USER,POST]</TD>
    <TD></TD>
    <TD>IMPLICIT</TD>
  </TR>
  <TR>
    <TD>CREATE_FACEBOOK</TD>
    <TD>A USER COULD HAVE CREATED ON FACEBOOK A FEED WITH PLACE AND PHOTO </TD>
    <TD>[USER,PHOTO,PLACE]</TD>
    <TD></TD>
    <TD>IMPLICIT</TD>
  </TR>
</TABLE>

<hr/>
<hr/>






<TABLE>
  
  <TR>
    <TH>RELATIONSHIP</TH>
    <TH>CARDINALITY</TH>
    <TH>MOTIVATION</TH>
  </TR>
  <TR>
    <TD>FRIENDSHIP</TD>
    <TD>[(0..N),(0..N)]</TD>
    <TD>A USER CAN HAVE FRIENDS BUT HE ISN'T OBLIGED</TD>
  </TR>
  <TR>
    <TD>FOLLOW</TD>
    <TD>[(0..N),(0..N)]</TD>
    <TD>A USER CAN FOLLOW THE SUPERUSERS BUT HE ISN'T OBLIGED</TD>
  </TR>
  <TR>
    <TD>LIKE</TD>
    <TD>[(0..N),(0..N)]</TD>
    <TD>A USER CAN LIKE THE POSTS BUT HE ISN'T OBLIGED </TD>
  </TR>
  <TR>
    <TD>CREATE</TD>
    <TD> [ (0..N),(1..1) ]</TD>
    <TD>A USER CAN CREATE DIFFERENT POSTS,A POST IS CREATED BY ONLY ONE USER</TD>
  </TR>
  <TR>
    <TD>CREATE_FACEBOOK</TD>
    <TD>[(0..N),(1..1),(0..N)]</TD>
    <TD>A USER HAS DIFFERENT PHOTOS WITH DIFFERENT PLACES, A PLACE HAS DIFFERENT USERS WITH DIFFERENT PLACES
      A PHOTO HAS ASSOCIATED ONLY PAIR [USER,PLACE]</TD>
  </TR>
</TABLE>
</BODY>
</HTML>
