<!DOCTYPE HTML>
<HTML>

<HEAD>
  <STYLE>
    TABLE {
      FONT-FAMILY: ARIAL, SANS-SERIF;
      BORDER-COLLAPSE: COLLAPSE;
      WIDTH: 75%;
    }
    
    TD,
    TH {
      BORDER: 1PX SOLID #DDDDDD;
      TEXT-ALIGN: CENTER;
      PADDING: 10PX;
    }
  </STYLE>
</HEAD>

<BODY>

  <TABLE>
    <TR>
      <TH>FILE/DIRECTORY</TH>
      <TH>DESCRIPTION</TH>
    </TR>
    <TR>
      <TD>APP/</TD>
      <TD>CUORE DELL APPLICAZIONE, INCLUDE MODELS, VIEWS, CONTROLLERS E HELPERS</TD>
    </TR>
    <TR>
      <TD>APP/ASSETS/</TD>
      <TD>APPLICATIONS ASSETS COME CASCADING STYLE SHEETS (CSS), JAVASCRIPT  FILES, E IMMAGINI</TD>
    </TR>
    <TR>
      <TD>APP/CONTROLLERS/</TD>
      <TD>DIRECTORY CONTENENTE TUTTI I CONTROLLER USATI DALL’ APPLICAZIONE</TD>
    </TR>
    <TR>
      <TD>APP/HELPERS/</TD>
      <TD>DIRECTORY CONTENENTE TUTTI I RELATIVI HELPER</TD>
    </TR>
    <TR>
      <TD>APP/MAILERS/</TD>
      <TD>DIRECTORY CONTENENTE L APP MAILERS E LO USER MAILER PER LA GESTIONE DELL'ATTIVAZIONE DELL ACCOUNT TRAMITE MAIL</TD>
    </TR>
    <TR>
      <TD>APP/MODELS/</TD>
      <TD>DIRECTORY CONTENENTE TUTTI I MODEL DELL’APPLICAZIONE</TD>
    </TR>
    <TR>
      <TD>APP/UPLOADERS/</TD>
      <TD>DIRECTORY CONTENENTE IL FILE UPLOADER.RB PER LA GESTIONE DELL UPLOAD DELLE FOTO ASSOCIATE AL MICROPOST</TD>
    </TR>
    <TR>
      <TD>APP/VIEW/</TD>
      <TD>DIRECTORY CONTENENTE TUTTE LE VIEWS DELL'APPLICAZIONE SUDDIVISA IN SOTTODIRECTORY PER OGNI CONTROLLER </TD>
    </TR>
    <TR>
      <TD>APP/VIEW/LAYOUTS/</TD>
      <TD>DIRECTORY CONTENENTE LE VIEWS ASSOCIATE AL LAYOUT</TD>
    </TR>
    <TR>
      <TD>APP/VIEW/SHARED/</TD>
      <TD>DIRECTORY CONTENENTE DELLE PARTICOLARI VIEWS DENOMINATE PARTIAL CONDIVISE DA PIÙ VIEWS ASSOCIATE AI VARI CONTROLLER DELL' APPLICAZIONE</TD>
    </TR>
    <TR>
      <TD>CONFIG/</TD>
      <TD>CONFIGURAZIONE DELL'APPLICAZIONE</TD>
    </TR>
    <TR>
      <TD>DB/</TD>
      <TD>DIRECTORY PER LA GESTIONE DEL DATABASE DELL'APPLICAZIONE COME SCHEMA.RB
          E SEED.RB UTILE PER ANDARE A POPOLARE IL DATABASE IN FASE DI SVILUPPO
      </TD>
    </TR>
    <TR>
      <TD>DB/MIGRATE/</TD>
      <TD>DIRECTORY CONTENENTE TUTTE LE MIGRAZIONI DELL'APPLICAZIONE</TD>
    </TR>
    <TR>
      <TD>DOC/</TD>
      <TD>DOCUMENTAZIONE DELL'APPLICAZIONE CON I RELATIVI DIAGRAMMI UML GENERATI DALLA GEMMA “RAILS-ERD”</TD>
    </TR>
    <TR>
      <TD>LIB/</TD>
      <TD>MODULI DELLE LIBRERIE</TD>
    </TR>
    <TR>
      <TD>LIB/ASSETS/</TD>
      <TD>LIBRERIE PER GLI ASSETS COME CASCADING STYLE SHEETS (CSS), JAVASCRIPT FILES  E IMMAGINI</TD>
    </TR>
    <TR>
      <TD>LOG/</TD>
      <TD>FILE DI LOG DELL APPLICAZIONE</TD>
    </TR>
    <TR>
      <TD>PUBLIC/</TD>
      <TD>DATI ACCESSIBILI AL PUBLICO(ES. VIA WEB BROWSERS), COME PAGINE D’ERRORE E IMMAGINI</TD>
    </TR>
    <TR>
      <TD>TMP/</TD>
      <TD>FILES TEMPORANEI</TD>
    </TR>
    <TR>
      <TD>VENDOR/</TD>
      <TD>FILES DI TERZE PARTI COME PLUGIN O GEMME</TD>
    </TR>
    <TR>
      <TD>VENDOR/ASSETS/</TD>
      <TD>ASSETS DI TERZE PARTI COME CASCADING STYLE SHEETS (CSS), JAVASCRIPT FILES, E IMMAGINI</TD>
    </TR>
    <TR>
      <TD>BIN/</TD>
      <TD>CONTIENE DEI FILE ESEGUIBILI </TD>
    </TR>
    <TR>
      <TD>BIN/RAILS</TD>
      <TD>ESEGUIBILE PER L UTILIZZO DEL FRAMEWORK RAILS DI RUBY</TD>
    </TR>
    <TR>
      <TD>TEST/</TD>
      <TD>TEST DELL’APPLICAZIONE
      SUDDIVISA IN SOTTODIRECTORY PER I TEST DEI MODEL E DEI CONTROLLER
      E UNA SOTTODIRECTORY PER LE FIXTURES</TD>
    </TR>
    <TR>
      <TD>TEST/INTEGRATION</TD>
      <TD>CONTIENE I TEST D’INTEGRAZIONE DELL'APPLICAZIONE</TD>
    </TR>
    <TR>
      <TD>TEST/HELPERS</TD>
      <TD>HELPERS PER I TEST DELL'APPLICAZIONE</TD>
    </TR>
    <TR>
      <TD>GEMFILE</TD>
      <TD>GEMME RICHIESTE DALL'APPLICAZIONE</TD>
    </TR>
  </TABLE>
</BODY>

</HTML>
