<!DOCTYPE HTML>
<HTML>
<HEAD>
<STYLE>
TABLE {
    FONT-FAMILY: ARIAL, SANS-SERIF;
    BORDER-COLLAPSE: COLLAPSE;
    WIDTH: 75%;
}

TD, TH {
    BORDER: 1PX SOLID #DDDDDD;
    TEXT-ALIGN: CENTER;
    PADDING: 10PX;
}


</STYLE>
</HEAD>
<BODY>
<TABLE>
  <TR>
    <TH>METHOD</TH>
    <TH>ROUTE</TH>
    <TH>ACTION</TH>
    <TH>PARAM</TH>
    <TH>DESCRIPTION</TH>
  </TR>
  <TR>
    <TD>POST</TD>
    <TD>/FRIENDSHIPS</TD>
    <TD>CREATE</TD>
    <TD>FRIEND_ID </TD>
    <TD>IF CURRENT_USER IS LOGGED_IN AND OTHER USER
    ISN'T SUPER USER REDIRECT_TO PRECEDENT URL AND UPDATE THE COLUMN TRANSITION
     WITH VALUE "PENDING" ELSE RENDER NEW </TD>
  </TR>
  <TR>
    <TD>DELETE</TD>
    <TD>/FRIENDSHIPS/:ID</TD>
    <TD>DESTROY</TD>
    <TD>ID , OTHER_USER ID </TD>
    <TD>IF CURRENT_USER IS LOGGED_IN RENDER PRECEDENT URL
      ELSE RENDER NEW</TD>
  </TR>
  <TR>
    <TD>PATCH/PUT</TD>
    <TD>/FRIENDSHIPS/:ID</TD>
    <TD>UPDATE</TD>
    <TD>ID</TD>
    <TD>IF CURRENT_USER IS LOGGED_IN UPDATE THE COLUMN TRANSITION
      WITH VALUE "ACCEPTED" AND REDIRECT_TO PRECEDENT URL 
      ELSE RENDER NEW </TD>
  </TR>
</TABLE>
</BODY>
</HTML>
