<!DOCTYPE HTML>
<HTML>
<HEAD>
<STYLE>
TABLE {
    FONT-FAMILY: ARIAL, SANS-SERIF;
    BORDER-COLLAPSE: COLLAPSE;
    WIDTH: 75%;
}

TD, TH {
    BORDER: 1PX SOLID #DDDDDD;
    TEXT-ALIGN: CENTER;
    PADDING: 10PX;
}


</STYLE>
</HEAD>
<BODY>
<TABLE>
  <TR>
    <TH>METHOD</TH>
    <TH>ROUTE</TH>
    <TH>ACTION</TH>
    <TH>PARAM</TH>
    <TH>DESCRIPTION</TH>
  </TR>
  <TR>
    <TD>POST</TD>
    <TD>/LIKES</TD>
    <TD>CREATE</TD>
    <TD>POST_ID , USER_ID </TD>
    <TD>IF CURRENT_USER IS LOGGED_IN REDIRECT TO PRECEDENT URL 
      ELSE RENDER LOGIN_URL</TD>
  </TR>
</TABLE>
</BODY>
</HTML>
