<!DOCTYPE HTML>
<HTML>
<HEAD>
<STYLE>
TABLE {
    FONT-FAMILY: ARIAL, SANS-SERIF;
    BORDER-COLLAPSE: COLLAPSE;
    WIDTH: 75%;
}

TD, TH {
    BORDER: 1PX SOLID #DDDDDD;
    TEXT-ALIGN: CENTER;
    PADDING: 10PX;
}


</STYLE>
</HEAD>
<BODY>
<TABLE>
  <TR>
    <TH>METHOD</TH>
    <TH>ROUTE</TH>
    <TH>ACTION</TH>
    <TH>PARAM</TH>
    <TH>DESCRIPTION</TH>
  </TR>
  <TR>
    <TD>POST</TD>
    <TD>/RELATIONSHIPS</TD>
    <TD>CREATE</TD>
    <TD>FOLLOWED_ID </TD>
    <TD>IF CURRENT_USER IS LOGGED_IN AND FOLLOWED USER IS SUPER_USER REDIRECT_TO PRECEDENT URL
      ELSE RENDER NEW </TD>
  </TR>
  <TR>
    <TD>DELETE</TD>
    <TD>/RELATIONSHIPS/:ID</TD>
    <TD>DESTROY</TD>
    <TD>ID</TD>
    <TD>IF CURRENT_USER IS LOGGED_IN REDIRECT_TO PRECEDENT URL 
      ELSE RENDER NEW</TD>
  </TR>
</TABLE>

</BODY>
</HTML>
