<!DOCTYPE HTML>
<HTML>
<HEAD>
<STYLE>
TABLE {
    FONT-FAMILY: ARIAL, SANS-SERIF;
    BORDER-COLLAPSE: COLLAPSE;
    WIDTH: 75%;
}

TD, TH {
    BORDER: 1PX SOLID #DDDDDD;
    TEXT-ALIGN: CENTER;
    PADDING: 10PX;
}

H1{
  POSITION: FIXED;
  TOP: 0;
  RIGHT: 70;
}


</STYLE>
</HEAD>
<BODY>
<TABLE>
  <TR>
    <TH>METHOD</TH>
    <TH>ROUTE</TH>
    <TH>ACTION</TH>
    <TH>PARAM</TH>
    <TH>DESCRIPTION</TH>
  </TR>
  <TR>
    <TD>GET</TD>
    <TD>/SIGNUP</TD>
    <TD>NEW</TD>
    <TD></TD>
    <TD>RENDER NEW</TD>
  </TR>
  <TR>
    <TD>POST</TD>
    <TD>/SIGNUP</TD>
    <TD>CREATE</TD>
    <TD>NAME <BR> EMAIL <BR> PASSWORD <BR> PASSWORD_CONFIRMATION</TD>
    <TD>CREATE A NEW USER THEN
      SENDS A EMAIL,
      IF IT'S OK REDIRECT TO ROOT URL
      ELSE RENDER NEW</TD>
  </TR>
  <TR>
    <TD>GET</TD>
    <TD>/USERS</TD>
    <TD>INDEX</TD>
    <TD></TD>
    <TD>RENDER INDEX IF USER IS LOGGED_IN 
      ELSE RENDER NEW </TD>
  </TR>
  <TR>
    <TD>GET</TD>
    <TD>/USERS/:ID/FOLLOWING</TD>
    <TD>FOLLOWING</TD>
    <TD>ID</TD>
    <TD>RENDER SHOW_FOLLOW IF USER IS LOGGED_IN
      ELSE RENDER NEW </TD>
  </TR>
  <TR>
    <TD>GET</TD>
    <TD>/USERS/:ID/FOLLOWERS</TD>
    <TD>FOLLOWERS</TD>
    <TD>ID</TD>
    <TD>IF CURRENT_USER IS A SUPER_USER AND LOGGED_IN RENDER SHOW_FOLLOW
        ELSE REDIRECT TO ROOT_URL</TD>
  </TR>
  <TR>
    <TD>GET</TD>
    <TD> /USERS/:ID/FRIENDS</TD>
    <TD>FRIENDS</TD>
    <TD>ID</TD>
    <TD>IF CURRENT_USER IS LOGGED_IN RENDER SHOW_FRIENDS
      ELSE RENDER NEW </TD>
  </TR>
  <TR>
    <TD>GET</TD>
    <TD>/USERS/:ID/REQUEST_FRIENDS</TD>
    <TD>REQUEST_FRIENDS</TD>
    <TD>ID</TD>
    <TD>IF CURRENT_USER IS LOGGED_IN RENDER SHOW_REQUEST
      ELSE RENDER NEW </TD>
  </TR>
  <TR>
    <TD>GET</TD>
    <TD>/USERS/:ID/EDIT</TD>
    <TD>EDIT</TD>
    <TD>ID</TD>
    <TD>IF CURRENT_USER IS LOGGED_IN AND IS THE CORRECT_USER RENDER EDIT
      ELSE RENDER NEW </TD>
  </TR>
  <TR>
    <TD>GET</TD>
    <TD>  /USERS/:ID</TD>
    <TD>SHOW</TD>
    <TD>ID</TD>
    <TD>RENDER SHOW  </TD>
  </TR>
  <TR>
    <TD>PATCH/PUT</TD>
    <TD>/USERS/:ID</TD>
    <TD>UPDATE</TD>
    <TD>ID</TD>
    <TD>IF CURRENT_USER IS LOGGED_IN REDIRECT TO SHOW
      ELSE RENDER EDIT </TD>
  </TR>
  <TR>
    <TD>DELETE</TD>
    <TD> /USERS/:ID</TD>
    <TD>DESTROY</TD>
    <TD>ID</TD>
    <TD>IF CURRENT_USER IS ADMIN REDIRECT INDEX
      ELSE RENDER ROOT_URL </TD>
  </TR>
  <TR>
    <TD>GET</TD>
    <TD> /USERS/AUTH/FACEBOOK</TD>
    <TD>PASSTHRU</TD>
    <TD></TD>
    <TD>REDIRECT TO FACEBOOK LOGIN </TD>
  </TR>
  <TR>
    <TD>POST</TD>
    <TD>/USERS/AUTH/FACEBOOK/CALLBACK</TD>
    <TD>FACEBOOK</TD>
    <TD>UID AND TOKEN</TD>
    <TD>REDIRECT TO SHOW  </TD>
  </TR>
  
</TABLE>








</BODY>
</HTML>
