<% provide(:title, 'All Requests') %>
<h1>Your Requests</h1>
  <% if @users.any? %>
    <%= will_paginate @users %>
    <ul class="users">
      <%= render @users %>
    </ul>
    <%= will_paginate @users %>
  <% end %>
  
  
  